.selectPlaylistWrapper {
  border: 1px solid black;
  background-color: white;
  width: 140px;
  min-height: 90px;
  border-radius: 20px;
  padding-left: 12px;
  padding-top: 5px;
  position: relative;
  top: -90px;
  left: 110px;
  box-shadow: 2px 2px 7px;
  box-sizing: border-box;
  max-height: 120px;
  overflow-x: auto;
  overflow-x: hidden;
}

.selectPlaylistTitle {
  font-weight: bold;
  text-align: left;
}

.playlistItem {
  text-align: left;
  overflow-x: hidden;
  font-size: medium;
}
