.appWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userName{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: x-large;
    font-weight: 700;
}

.playListItem {
    display: flex;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgb(252, 93, 69) 100%);
    color: white;
    align-items: center; 
    justify-content: center;  
    margin: 20px auto; 
    border-radius: 50px;
    height: 50px;
    border: 1px solid black;
    width: 200px;
    font-size:larger;
    font-weight: bold;
}

.playlistInput{
    width: 200px;
    height: 20px;
    padding: 7px;
    font-size: medium;
    border-radius: 5px;
}

.addPlayListButton{
    width: 50px;
    margin-left: 10px;
    height: 35px;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgb(252, 93, 69) 100%);
    font-size:x-large;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

.logoutIcon{
    height:90px;
    width: 90px;
}

.titleBar{
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}












/* Media query for screens less than 426px */
@media (max-width: 425px) {
    .titleBar {
      flex-direction: column;
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .userName {
      font-size: medium;
      margin-bottom: 10px;
    }
  
    .playListItem {
      width: 150px;
      font-size: 0.9rem;
    }
  
    .playlistInput {
      width: 150px;
    }
  
    .addPlayListButton {
      width: 40px;
      height: 30px;
      font-size: medium;
    }
  
    .logoutIcon {
      height: 60px;
      width: 60px;
    }
  
    .audioPlayer {
      width: auto !important;
    }
  }
  
  /* Media query for screens between 426px and 769px */
  @media (min-width: 426px) and (max-width: 769px) {
    .titleBar {
      flex-direction: row;
      padding-left: 50px;
      padding-right: 50px;
    }
  
    .userName {
      font-size: large;
    }
  
    .playListItem {
      width: 180px;
      font-size: 1rem;
    }
  
    .playlistInput {
      width: 180px;
    }
  
    .addPlayListButton {
      width: 45px;
      height: 35px;
      font-size: medium;
    }
  
    .logoutIcon {
      height: 70px;
      width: 70px;
    }
  
    .audioPlayer {
      width: auto !important; 
    }
  }